header {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.upperDiv {
  display: flex;
  align-items: center;
  gap: 113px;
}
.title {
  font-size: 26px;
  color: #222731;
}
.dark_Title {
  font-size: 26px;
  color: #ffffff;
}
.mode {
  display: flex;
  align-items: center;
  gap: 16px;
}
.light_title {
  font-size: 13px;
  letter-spacing: 2.5px;
  color: rgba(75, 106, 155, 1);
  width: 50px;
  text-align: right;
}
.dark_title {
  width: 50px;
  text-align: right;
  font-size: 13px;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
}
.Gihub {
  position: absolute;
  left: 1px;
  top: 1px;
}
.bottomDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 15px;
  background-color: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  width: 327px;
  height: 60px;
}
.dark_bottomDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 15px;
  background-color: #1e2a47;
  width: 327px;
  height: 60px;
}
.input {
  color: #4b6a9b;
  font-size: 13px;
  width: 184px;
  border: none;
  outline: none;
}
.dark_input {
  background-color: #1e2a47;
  color: #ffffff;
  font-size: 13px;
  width: 184px;
  border: none;
  outline: none;
}
.dark_input::placeholder {
  color: #ffffff;
}
.button {
  background-color: rgba(0, 121, 255, 1);
  border-radius: 10px;
  width: 84px;
  height: 46px;
  border: none;
  color: rgba(255, 255, 255, 1);
}
.redbutton {
  background-color: rgba(0, 121, 255, 1);
  border-radius: 10px;
  width: 84px;
  height: 46px;
  border: none;
  color: rgba(247, 70, 70, 1);
}
.darkIcons {
  animation: rotate 0.7s linear ;
}
.darkI {
  animation: rotatee 0.7s linear ;
}
@keyframes rotatee {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


.active{
  display: none;
}
.disable{
  display: none;
}
@media (min-width: 768px) {
  .active{
    display: block;
    position: absolute;
    left:360px;
    font-size: 15px;
    color: rgba(247, 70, 70, 1);
  }
  .disable{
    display: none;
  }
  .upperDiv {
    gap: 360px;
  }
  .bottomDiv {
    position: relative;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    border-radius: 15px;
    background-color: #fefefe;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    width: 573px;
    height: 69px;
  }
  .dark_bottomDiv {
    padding-left: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    border-radius: 15px;
    background-color: #1e2a47;
    width: 573px;
    height: 69px;
  }
  .input {
    margin-left: 23px;
    margin-right: 123px;
    color: #4b6a9b;
    width: 254px;
    font-size: 18px;
    border: none;
    outline: none;
  }
  .dark_input {
    background-color: #1e2a47;
    margin-left: 23px;
    margin-right: 123px;
    color: #ffffff;
    width: 254px;
    font-size: 18px;
    border: none;
    outline: none;
  }
  button {
    background-color: rgba(0, 121, 255, 1);
    border-radius: 10px;
    width: 106px;
    height: 50px;
    border: none;
    color: rgba(255, 255, 255, 1);
  }
}
